<template>
    <v-flex mb-1>
        <v-card :to="`/organisations/${owner}`" hover>
            <v-layout row>
                <v-flex md3>
                    <v-card :img="img"
                            height="200px"
                            width="200px"
                            style='background-size: contain;'
                    />
                </v-flex>
                <v-flex md9>
                    <h2>{{ owner }}</h2>
                    <div v-html="desc_html"></div>
                </v-flex>
            </v-layout>
        </v-card>
    </v-flex>
</template>
<style lang="scss" scoped>


</style>


<script>
  export default {
    name : 'OrganisationTile',
    props: ['owner', 'img_file', 'desc_html'],


    computed: {
      img() {
        try {
          return require(`../assets/orgs/${this.img_file}`)
        }
        catch (e) {

        }
      }
    },
  }
</script>
