<template>
    <v-flex ma-1>
        <div :style="style" class="tile-container">
            <v-card :img="img"
                    class="card-image"
                    height="200px"
                    width="200px"
                    hover
            >
                <v-layout align-end fill-height>
                    <v-flex md9>
                        <v-card class="name_card" dark tile flat style="background-color:rgba(128,128,128,0.8)">{{
                            common_name }}
                        </v-card>
                    </v-flex>
                    <v-flex md3>
                        <v-card class="price_card" dark tile flat style="background-color:rgba(128,128,128,0.8);    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;">
                            {{ price }}
                            <img :src="eos_logo" alt="">
                        </v-card>
                    </v-flex>

                    <div class="organisation-logo">
                        {{ organisation }}
                    </div>
                </v-layout>
            </v-card>
        </div>
    </v-flex>
</template>

<script>


  const eos_logo = require('../assets/eos.svg');
  export default {
    name : "OrphanTile",
    props: ['id', 'common_name', 'image', 'price', 'bg_color_1', 'bg_color_2'],


    data() {
      return {
        eos_logo
      }
    },
    computed: {


      img() {
        try {
          return require(`../assets/animals/${this.image}.svg`)
        }
        catch (e) {
          console.log('Could not load image')
        }
      },

      organisation() {
        return Math.random() > 0.5 ? 'Taronga' : 'WWF'
      },

      style() {
        return {
          background: `linear-gradient(to top, ${this.bg_color_1}, ${this.bg_color_2})`
        }
      }
    }
  }
</script>

<style lang="scss" scoped>

    .tile-container {
        width: 200px;
        padding: 0;
        margin: 0 0 20px;
    }

    .name_card {
        font-family: "Roboto", Times, serif;
        font-size: medium;
    }

    .price_card {
        font-family: "Roboto", Times, serif;
        font-size: medium;

        text-align: center;
        font-weight: 400;

        img {
            max-width: 35px;
        }
    }

    .organisation-logo {

        position: absolute;
        top: 0;
        right: 0;
        background-color: black;
        color: white;
        padding: 3px;
    }

    .card-image {
        background-size: 90% !important;
        transition: all 0.25s ease-out;
        &:hover {
            background-size: 120% !important;
        }
    }
</style>