<template>

    <v-flex ma-1>
        <div :style="{width: '200px', margin: 0, padding:0, marginBottom: '20px', background: `linear-gradient(to top, ${bg_color_1}, ${bg_color_2})`}">
            <v-card :img="img"
                    class="card-image"
                height="200px"
                width="200px"
                hover
                :to="`/pets/${id}`"
            >

                <v-layout align-end fill-height >
                        <v-flex md12>
                            <v-card class="name_card" dark tile flat style="background-color:rgba(128,128,128,0.8)">{{ assigned_name || '---' }}</v-card>
                        </v-flex>
                </v-layout>

            </v-card>
        </div>
    </v-flex>
</template>

<script>
  export default {
    name: "PetTile",
    props: ['id','assigned_name','image', 'bg_color_1', 'bg_color_2'],
    computed: {
      img(){
        try {
          return require(`../assets/animals/${this.image}.svg`)
        }catch (e) {

        }
      }
    },
  }
</script>

<style lang="scss" scoped>

    .card-image {
        background-size: 90%!important;
        transition: all 0.25s ease-out;
        &:hover {
            background-size: 120%!important;
        }
    }
</style>