<template>
        <img :src="src">
</template>

<script>
  export default {
    name: "AnimalGraphic",
    props: ['image'],

    computed: {
      src(){
        try {
          return require(`../../assets/animals/${this.image}.svg`)
        }catch (e) {

        }
      }
    },
  }
</script>

<style scoped>

</style>