<template>
    <div class="item-row">
        <!--Image-->
        <div class="item-row__image-container">
            <div class="item-row__image"></div>
        </div>
        <!--Text-->
        <div class="item-row__text">
            <div class="item-row__title">{{ name | titleCase }}</div>
            <p class="item-row__description">
                <b>{{ type }} : </b> <span>{{ hap_delta }} Happiness</span>, <span>{{ hung_delta }} hunger</span>
            </p>
        </div>

        <!--Button-->
        <div class="item-row__button-container">
            <button class="button is-success">USE</button>
        </div>


    </div>
</template>

<script>
  export default {
    name: "ItemRow",
    props: ['id','name','type','hap_delta','hung_delta'],
  }
</script>

<style lang="scss" scoped>

    .item-row{
        display:flex;
        padding: 15px 0;
        transition: all 0.25s ease-out;

        &:hover{
            background-color: darken(white, 5%);
        }

        cursor:pointer;
    }

    .item-row__image{
        width:50px;
        height:50px;
        background-color: red;
        border-radius:50px;
    }

    .item-row__title{
        font-weight: bold;
        font-family: Raleway, Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .item-row__description{

    }

    .item-row__text{
        flex:1;
        padding: 5px 5px 5px 15px;
    }

    .item-row__image-container{
        flex-basis:50px;
        margin-left:10px;

        display:flex;
        align-items: center;
    }
    .item-row__button-container{
        flex-basis:50px;

        display:flex;
        align-items: center;

        margin-right:10px;
    }
</style>