<template>
    <div class="log-list">
        <div v-for="entry in log" class="log-entry">
            {{ entry | date }}
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
  export default {
    name: "PetLogs",
    props: ['log'],
    filters: { date(val)  { 
        const re = /::(\d+)::/;

        if (re.test(val)) {
            let x = re.exec(val);
            return "Was born on " + moment.unix(x[1]).format("YYYY-mm-DD") + ".";
        }
        return val; 
    
 }}
  }
</script>

<style lang="scss" scoped>
    .log-list{

    }


    .log-entry{
        color:gray;
        font-size: 0.9rem;
    }


</style>
