<template>
    <div class="status-list">
        <div v-for="status in statuses" class="status-container">
            <span class="status-name">{{ status.name }}</span>
            <status-bar class="status-bar" :value="status.value" :max="status.max"></status-bar>
        </div>
    </div>
</template>

<script>
  import StatusBar from "./StatusBar"
  export default {
    name: "PetStatus",
    components: {StatusBar},
    props: ['statuses'],
  }
</script>

<style lang="scss" scoped>
    .status-container{
        display:flex;

        &:not(:last-of-type){
            margin-bottom: 3px;
        }
    }

    .status-name{
        flex-basis:100px;


        display:flex;
        align-items: center;
    }

    .status-bar{
        flex:1;
    }
</style>