<template>
    <div>
        <h1 class="pet-name" v-if="has_name">{{ name | titleCase }}</h1>
        <h1 class="pet-name" v-else>Untitled
            <button class="button is-primary" @click.prevent="$emit('change_name')">Click to set name</button>
        </h1>
        <h2 class="pet-type">{{ common_name | titleCase }} ({{ species_name | titleCase }})</h2>
        <h2 class="pet-org">{{ organisation | titleCase }}</h2>
    </div>
</template>

<script>
  export default {
    name : "PetTitle",
    props: {
//      ['name','common_name', 'species_name' , 'organisation']

      name        : {type: String, default: ''},
      common_name : String,
      species_name: String,
      organisation: String,
    },


    computed: {
      has_name() {
        return this.name !== '';
      }
    },

  }
</script>

<style lang="scss" scoped>
    .pet-name {
        font-size: 3rem;
        font-family: Raleway, Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .pet-org {
        color: gray;
        font-size: 1.2rem;
        font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .pet-type {
        color: gray;
        font-size: 1.2rem;
        font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    }


</style>