<template>
    <div class="status-bar__outer">
        <div class="status-bar__inner" :style="style"></div>
    </div>
</template>

<script>
  export default {
    name : "StatusBar",
    props: ['value', 'max'],

    computed: {

      color(){

        const r = 255 * (1 - (this.value / this.max));
        const g = 255 * this.value / this.max;
        const b = 0;

        return `rgb(${r},${g},${b})`;
      },

      style() {
        const percent = 100 * (this.value/this.max);


        return {
          width : `${percent}%`,
          backgroundColor: this.color,
        }
      }
    },
  }
</script>

<style lang="scss" scoped>
    .status-bar__outer {
        background-color: #d6d6d6;
    }

    .status-bar__inner {
        background-color: #00d100;
        height: 30px;
        transition: all 0.25s ease-out;
    }
</style>