<template>
  <v-app>

    <v-toolbar
      app
      :clipped-left="clipped"
    >
      <!--<v-btn icon @click.stop="miniVariant = !miniVariant">-->
        <!--<v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>-->
      <!--</v-btn>-->
      <v-toolbar-title>eosPETS</v-toolbar-title>
      <v-toolbar-items>
        <v-btn flat to="/">Home</v-btn>
        <v-btn flat to="/organisations">Organisations</v-btn>
        <v-btn flat to="/pets">My Pets</v-btn>
        <v-btn flat to="/marketplace">Marketplace</v-btn>
        <v-btn flat to="/shop">Shop</v-btn>
        <v-btn flat to="/admin">Admin</v-btn>
      </v-toolbar-items>
      <v-spacer></v-spacer>

        <div style="display:flex;">
            <div style="width:35px; display:flex;justify-content: center;align-items: center; margin-right:10px;">
                <img :src="require('./assets/eos.svg')" alt="">
            </div>
            <div>
                <h3>Username: Anton</h3>
                <h3>Balance: {{ balance }}</h3>
            </div>
        </div>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>

    <v-footer :fixed="fixed" app>
      <span>&nbsp;&copy; 2018</span>
    </v-footer>
  </v-app>
</template>

<style lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Raleway');
    @import url('https://fonts.googleapis.com/css?family=Roboto');
    @import "~bulma";
    @import "style";

    main{
        font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
</style>

<script>

    import * as EosData from './eos';



export default {
  name: 'App',
  data () {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      items: [{
        icon: 'bubble_chart',
        title: 'Inspire'
      }],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js'
    }
  },

  computed:{
    balance(){

      const anton = this.$store.getters.users.find(x => x.owner === 'anton');
      if(anton){
        return anton.balance;
      }

      return null
    }
  },


  methods: {

    loadAllData(){
      EosData.getUsers().then(users => this.$store.commit('loadUsers', {users}));
      EosData.getAnimals().then(animals => this.$store.commit('loadAnimals', {animals}));
      EosData.getItems().then(items => this.$store.commit('loadItems', {items}));
      EosData.getOrganisations().then(organisations => this.$store.commit('loadOrganisations', {organisations}))
      EosData.getAnimalOffers().then(offers => this.$store.commit('loadAnimalOffers', {offers}))
      EosData.getMarketItems().then(offers => this.$store.commit('loadItemOffers', {offers}))
    }
  },

  created(){
    window.E = EosData;


    this.loadAllData()

  }
}
</script>
