<template>
    <div class="container">
        <h1 class="page-title">Admin</h1>

        <!--Add animal-->
        <div class="columns">

            <div class="column">
                <h2>Create an animal:</h2>

                <form @submit.prevent="onAnimalSubmit">
                    <div class="field">
                        <label class="label">Scientific Name:</label>
                        <div class="control">
                            <input type="text" name="sciname" v-model="sciname"
                                   placeholder="e.g. Myrmecobius fasciatus">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Common Name:</label>
                        <div class="select">
                            <select name="type" v-model="commname">
                                <option value="albatross">Albatross</option>
                                <option value="blackcockatoo">Black Cockatoo</option>
                                <option value="dugong">Dugong</option>
                                <option value="ibis">Ibis</option>
                                <option value="koala">Koala</option>
                                <option value="numbat">Numbat</option>
                            </select>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Price:</label>
                        <div class="control">
                            <input type="number" name="price" v-model="animprice" placeholder="300"><br>
                        </div>
                    </div>

                    <div class="field is_grouped">
                        <button class="button is-link">Submit</button>
                    </div>
                </form>
            </div>

            <div class="column">
                Create an item:
                <form @submit.prevent="onItemSubmit">
                    <div class="field">
                        <label class="label">Name:</label>
                        <div class="select">
                            <select name="name" v-model="itemname">
                                <option value="lemon">Lemon</option>
                                <option value="camera">Camera</option>
                                <option value="nailpolish">Nail Polish</option>
                            </select>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Type:</label>
                        <div class="select">
                            <select name="type" v-model="itemtype">
                                <option value="FOOD">Food</option>
                                <option value="CONSUMABLE">Consumable</option>
                                <option value="ACCESSORY">Accessory</option>
                            </select>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Happiness Modifier:</label>
                        <div class="control">
                            <input type="number" name="hapdelta" v-model.number="hapdelta" placeholder="0">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Fullness Modifier:</label>
                        <div class="control">
                            <input type="number" name="hundelta" v-model.number="hundelta" placeholder="0">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Price:</label>
                        <div class="control">
                            <input type="number" name="price" v-model.number='itemprice' placeholder="35">
                        </div>
                    </div>

                    <div class="field is_grouped">
                        <button class="button is-link">Submit</button>
                    </div>
                </form>
            </div>


            <div class="column">

            </div>

        </div>

    </div>
</template>

<script>
  import * as eosdata from '../eos';

  export default {
    name   : "Admin",
    data() {
      return {
        itemprice: 25,
        itemtype : "FOOD",
        hapdelta : -300,
        hundelta : 200,
        itemname : "lemon",
        sciname  : "",
        commname : "numbat",
        animprice: 120
      };
    },
    methods: {
      onItemSubmit() {
        eosdata.makeItem("anton", `anton`, this.itemname, this.itemtype, this.hapdelta, this.hundelta).then(
          () => {
            return eosdata.getOrganisations().then(
              (orgs) => {
                // now we have made an item, we need to make an offer too
                const last_item = orgs.find(x => x.owner === 'anton').mr_item;

                eosdata.makeOffer('anton', 'anton', last_item, this.itemprice);
              }
            )
          }
        )
      },
      onAnimalSubmit() {
        //TODO: offer animal
        eosdata.offerAnim("anton", this.sciname, this.commname, this.animprice);
      },
    }

  }
</script>

<style scoped>

</style>
