<template>
  <div id="app" style="width:100%;height:100%;display:flex;justify-content: center;align-items: center; flex-direction: column">
      <h1 style="font-size:5rem;font-weight:200;">Welcome to</h1>
      <h2 style="font-size:7rem;">eospets</h2>
  </div>
</template>

<!-- Add "scoped" att>
bute to limit CSS to this component only -->
<style scoped>
</style>

<script>
  export default {
    components: {
    }
  }
</script>