<template>
    <v-container grid-list>
        <h1 class="page-title">Marketplace</h1>
        <v-layout row wrap>
            <orphan-tile :key="item.id" v-bind="item" v-for="item in current_items"
                         @click.native="onTileClick(item)"></orphan-tile>
        </v-layout>
    </v-container>
</template>

<script>
  import swal from 'sweetalert2'
  import OrphanTile from "../components/OrphanTile"
  import * as EosData from '../eos'

  export default {
    name      : "Marketplace",
    components: {OrphanTile},

    computed: {
      current_items() {
        if (this.text === 'all' || this.text === null) {
          this.text = 'all';
          return this.orphans;
        }
        else {
          return this.orphans.filter(x => x.organisation === this.text)
        }
      },


      orphans() {
        return this.$store.getters.market_animals
      }
    },

    data() {
      return {
        text: 'all',
      }
    },


    methods: {
      onTileClick(item) {
        return swal({
          title              : 'Adopt this pet?',
          type               : 'question',
          text               : `${item.common_name} is looking for a new home. Will you adopt it?`,
          showCancelButton   : true,
          showLoaderOnConfirm: true,

          preConfirm() {
            return EosData.buyAnim(item.id)
          },
        })
          .then(result => {
            if (result.value) {
              return swal({
                title: 'Success',
                text : 'You have adopted ' + item.common_name,
                type : 'success',
              })
                .then(() => {
                  this.$store.dispatch('fetchUsers')
                })
            }
          })
      },
    },

    created() {

//          var randomColor = require('randomcolor');
//
//          Array.from({length: 16})
//              .forEach((val, index) => {
//                  this.orphans.push({
//                      id: index,
//                      name: `Orph_${index}`,
//                      image: '/path/to/src',
//                      organisation: ['WWF', 'Taronga'][Math.floor(2 * Math.random())],
//                      price: Math.floor(10000 * Math.random()),
//                      bg_color_1: randomColor({luminosity: 'light',seed: index}),
//                      bg_color_2: randomColor({luminosity: 'light',seed: index+10}),
//
//                  })
//              })
    }
  }

</script>

<style lang="scss" scoped>

</style>