<template>
    <v-container>
        <h1 class="page-title">Organisations</h1>
        <div class="org-list">
            <organisation-tile v-bind="org" v-for="org in organisations"></organisation-tile>
        </div>
    </v-container>
</template>

<script>
  import OrganisationTile from "../components/OrganisationTile"

  import {mapGetters} from 'vuex'
  export default {
    name: "Organisations",
    components: {OrganisationTile},
    computed: {
      ...mapGetters([
        'organisations',
      ])
    }
  }
</script>

<style lang="scss" scoped>
    .org-title{
        font-family: Raleway, Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

</style>