<template>
  <v-container fluid grid-list-md>
    <v-layout row wrap>
      <v-flex d-flex xs12 sm6 md4>
          <v-card :img="require('../assets/orgs/'+ organisation.img_file)"
                            height="200px"
                            width="200px"
                            hover
                        style = 'background-size: contain;'/>
      </v-flex>
      <v-flex d-flex xs12 sm6 md8>
        <v-card>
            <v-card-title primary class="title">{{ organisation.owner }}</v-card-title>
            <v-card-text>{{ organisation.desc_html }}</v-card-text>

        </v-card>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
        <pet-tile v-bind="pet" v-for="pet in organisation.animals"></pet-tile>
    </v-layout>
  </v-container>
</template>

<script>
    import PetTile from "../components/PetTile"
  import {mapGetters} from 'vuex'

    export default {
        name: "organisations-single",

        components: {PetTile},

        computed: {
            ...mapGetters([
                'organisations',
            ]),

            organisation() {
                for (let i in this.organisations) {
                    if (this.organisations[i].owner === this.$route.params.owner) {
                        console.log(this.organisations[i]);
                        return this.organisations[i];
                    }
                }
            }
        }
    }

</script>

<style scoped>

</style>