<template>
    <div class="container">
        <section class="section">
            <div class="columns">
                <!--LHS : View -->
                <div class="column is-two-thirds-desktop">
                    <div class="graphic-container" :style="gradient">
                        <animal-graphic class="animal-graphic" :image="pet.image"></animal-graphic>
                    </div>
                </div>


                <!--RHS : Interactions -->
                <div class="column is-one-third-desktop interactions">
                    <pet-title class="pet-title"
                               :name="pet.assigned_name"
                               :common_name="pet.common_name"
                               :species_name="pet.species_name"
                               :organisation="pet.org"
                               @change_name="onChangeName"
                    ></pet-title>
                    <pet-status class="pet-status" :statuses="pet.statuses"></pet-status>

                    <!--Button container-->
                    <div class="button-container buttons">
                        <button class="button is-danger" @click.prevent="onReleasePet">Release Pet</button>
                        <button class="button is-primary" @click.prevent="onUseItemModal">Use Item</button>
                        <button class="button is-primary" @click.prevent="onTransferPet">Transfer Pet</button>
                    </div>

                    <pet-logs class="pet-logs" :log="pet.history"></pet-logs>

                </div>
            </div>
        </section>


        <v-dialog v-model="dialog" scrollable max-width="500px">
            <v-card>
                <v-card-title>Select Item</v-card-title>
                <v-divider></v-divider>
                <div style="height: 300px; overflow-y:scroll">
                    <div v-if="pet.items.length === 0" style="text-align: center">
                        No items available
                        <br>
                        <router-link to="/shop">
                            Click here to view the shop
                        </router-link>
                    </div>
                    <item-row v-for="item in items" v-bind="item" @click.native="onUseItem({id:item.id})"></item-row>
                </div>

            </v-card>
        </v-dialog>

    </div>
</template>

<script>
  import PetTitle from "../components/PetSingle/PetTitle"
  import PetLogs from "../components/PetSingle/PetLogs"
  import PetStatus from "../components/PetSingle/PetStatus"
  import AnimalGraphic from "../components/PetSingle/AnimalGraphic"
  import swal from 'sweetalert2'
  import ItemRow from "../components/PetSingle/ItemRow"


  import * as EosData from '../eos';

  export default {
    name      : "PetsSingle",
    components: {ItemRow, AnimalGraphic, PetStatus, PetLogs, PetTitle},
    props     : ['id'],
    data() {
      // All temporary
      return {
        dialog: false,
      }
    },


    computed: {

      items(){
        return this.$store.getters.users.find(x => x.owner === 'anton').items
      },

      pet() {
        return this.$store.getters.animals.find(x => x.id === +this.id);
      },


      gradient() {
        return {background: `linear-gradient(to top, ${this.pet.bg_color_1}, ${this.pet.bg_color_2})`}
      }
    },

    methods: {

      onChangeName() {

        return swal({
          title              : 'Set name',
          input              : 'text',
          showLoaderOnConfirm: true,
          showCancelButton   : true,
          inputAttributes    : {
            maxLength: 15
          },
          html               : 'Maximum of <b>15</b> characters',
          preConfirm         : name => {
            return EosData.updateAnimalName('anton', this.pet.owner, this.pet.id, name)
          }
        })
          .then(result => {
            if (result.value) {
              return this.$store.dispatch('fetchAnimals')
                .then(() => {
                  const pet_name = this.pet.assigned_name;
                  swal({
                    title: 'Success',
                    html : `Your pets name is now <b>${pet_name}</b>`
                  })
                })
            }
          })
      },

      // TODO: Constantly poll for this pet


      onUseItem({id}) {
        const item = this.items.find(x => x.id === id);

        return swal({
          title              : `Use item`,
          type               : 'question',
          html               : `Use <b>${item.name}</b> on ${this.pet.assigned_name}?`,
          showLoaderOnConfirm: true,
          showCancelButton   : true,
          preConfirm         : () => {
            return this.$store.dispatch('useItem', {item_id: item.id, animal_id: this.pet.id})
          }
        })
          .then(result => {
            if (result.value) {
              return swal({
                type: 'success',
                text: `${item.name} was used on ${this.pet.assigned_name}`,
              })
                .then(() => {
                  this.$store.dispatch('fetchUsers')
                  this.$store.dispatch('fetchAnimals')
                })

            }
          })
      },

      onUseItemModal() {
        this.dialog = true;
      },


      onReleasePet(){

        const pet_name = this.pet.assigned_name;

        return swal({
          title              : `Release Pet?`,
          type               : 'warning',
          html               : `You are about to release your pet! This cannot be undone`,
          showLoaderOnConfirm: true,
          showCancelButton   : true,
          preConfirm         : () => {
            return EosData.releasePet(+this.id)
          }
        })
          .then(result => {
            if (result.value) {
              return swal({
                type: 'success',
                text: `Bye bye ${pet_name}, have a nice life`,
              })
                .then(() => {
                  this.$store.dispatch('fetchUsers')
                  this.$store.dispatch('fetchAnimals')
                })
                .then(() => this.$router.push('/pets'));
            }
          })
      },

      onTransferPet() {
        const vm = this;
        const pet_name = this.pet.name || 'Nameless Pet';
        return swal({
          title              : `Transfer ${pet_name}`,
          type               : 'question',
          text               : 'To begin transferring, please enter the key of the account you wish to transfer it to',
          input              : 'text',
          inputAttributes    : {
            autocapitalize: 'off'
          },
          showLoaderOnConfirm: true,
          showCancelButton   : true,
          preConfirm         : key => {
            return EosData.transferPet(key, +vm.id)
          }
        })
          .then(result => {
            if (result.value) {
              return swal({
                title: `Transfer Success`,
                text : `Seeya later ${pet_name}`,
                type : 'success',
              })
                .then(() => this.$router.push('/pets'));

            }
          })
      }
    },


    created() {

      this.interval = setInterval(() => {
        EosData.getAnimals()
          .then(this.$store.dispatch('fetchAnimals'))
      }, 3000);
    },
    beforeDestroy() {
      clearInterval(this.interval);
    },
  }
</script>

<style lang="scss" scoped>


    .interactions > * {
        margin-bottom: 30px;
    }

    .graphic-container {
        max-width: 500px;
        max-height: 500px;
        border-radius: 500px;
        margin: 0 auto;
    }

</style>