<template>
    <v-container grid-list>
        <h1 class="page-title">My Pets</h1>
        <v-layout row wrap>
            <pet-tile v-bind="pet" v-for="pet in pets"></pet-tile>
        </v-layout>
    </v-container>
</template>


<script>
  import PetTile from "../components/PetTile"
  import {mapGetters} from 'vuex'
  export default {
    name: "Pets",
    components: {PetTile},
    computed: {
      ...mapGetters([
        'animals',
      ]),

      pets(){
        return this.animals.filter(x => x.owner === 'anton');
      }
    },




    created(){
      this.$store.dispatch('fetchAnimals')
    }
  }
</script>

<style lang="scss" scoped>

</style>