<template>
    <v-container>
        <h1 class="page-title">Shop</h1>
        <v-layout row>
            <v-flex lg-6 md-6 sm-6 xs-12>
                <v-card>
                    <v-card-title>Food</v-card-title>

                    <!-- A ROW -->
                    <v-card block hover :key="n.id"  v-for="n in foods" @click.native="buyItem(n)">
                        <v-layout align-center justify-start row fill-height>
                            <v-flex lg3 md3 sm3>
                                <v-card :img="n.image"
                                height="75px"
                                width="75px"
                                style = 'background-size: 90%!important;'/>
                            </v-flex>
                            <v-flex lg6 md6 sm6 pt5 pb5>
                                <h2 class="product-title" style="display:flex;">

                                    <span style="flex-basis:130px;">{{ n.item.name | titleCase }}</span>

                                    <p class="price-container">
                                        <img class="eos-image" :src="require('../assets/eos.svg')" alt=""> {{ n.price }}
                                    </p>
                                </h2>
                                <p class="product-info">
                                    {{ n.item.hap_delta }} Happiness, {{ n.item.hung_delta }} Hunger
                                </p>
                            </v-flex>
                        </v-layout>
                    </v-card>
                </v-card>
            </v-flex>
            <v-flex lg-6 md-6 sm-6 xs-12>
                <v-card>
                    <v-card-title>Accessories</v-card-title>

                    <!-- A ROW -->
                    <v-card block hover :key="n.id" v-for="n in accessories" @click.native="buyItem(n)">
                        <v-layout align-center justify-start row fill-height>
                            <v-flex lg3 md3 sm3>
                                <v-card :img="n.image"
                                height="75px"
                                width="75px"
                                style = 'background-size: 90%!important;'/>
                            </v-flex>
                            <v-flex lg6 md6 sm6 pt5 pb5>
                                <h2 class="product-title" style="display:flex;">

                                    <span style="flex-basis:130px;">{{ n.item.name | titleCase }}</span>

                                    <p class="price-container">
                                        <img class="eos-image" :src="require('../assets/eos.svg')" alt=""> {{ n.price }}
                                    </p>
                                </h2>
                                <p class="product-info">
                                    {{ n.item.hap_delta }} Happiness, {{ n.item.hung_delta }} Hunger
                                </p>
                            </v-flex>

                        </v-layout>
                    </v-card>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<style lang="scss" scoped>
    .product-title{
        font-size: 1.5rem;
        font-family: Raleway, Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    .eos-image{
        width:35px;
        margin-right:5px;
    }

    .price-container{
        display:flex;
        align-items: center;
    }
</style>


<script>

    import swal from 'sweetalert2'
    import * as EosData from '../eos'
    export default {
        name: "Shop",
        data() {
            return {
                tab: null,
            }
        },

        computed: {


          items(){
            return this.$store.getters.market_items
          },

            tabs() {
                return ['food', 'accessories', 'furniture']
            },

            // However this is done, update the filter function
            foods() {
                return this.items.filter(x => x.item.type === 'FOOD')
            },

            accessories() {
                return this.items.filter(x => x.item.type === 'ACCESSORY')
            },

        },

      methods : {
          buyItem(item){
            return swal({
              type: 'question',
              title: 'Buy Item',
              html: `Purchase <b>${item.item.name}</b> for ${item.price}?`,
              showLoaderOnConfirm:true,
              showCancelButton:true,
              preConfirm(){
                return EosData.buyItem('anton','anton',item.id)
              },
            })
              .then(result => {
                if(result.value){
                  return swal({
                    type:'success',
                    title:'Success',
                    html:`You have purchased <b>${item.item.name}</b>`
                  })

                    .then(() => {
                      this.$store.dispatch('fetchUsers')
                    })
                }
              })
          },
      },

        created() {

//            this.items = [
//                {
//                    id: 0,
//                    category: 'food',
//                    price: 100,
//                    name: 'Corn',
//                    image: require('../assets/food/corn.svg')
//                },
//                {
//                    id: 1,
//                    category: 'food',
//                    price: 10,
//                    name: 'Fish',
//                    image: require('../assets/food/fish.svg')
//                },
//                {
//                    id: 2,
//                    category: 'accessory',
//                    price: 400,
//                    name: 'handbag',
//                    image: require('../assets/accessories/handbag.png')
//                },
//                {
//                    id: 2,
//                    category: 'accessory',
//                    price: 1000,
//                    name: 'Camera',
//                    image: require('../assets/accessories/camera.png')
//                }
//            ];
        }
    }
</script>

<style scoped>

</style>
